---
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
import CloseIcon from "./icons/Close.astro";

import { getI18N } from "@/i18n";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header id="header-nav" class="fixed w-screen py-4 top-0 px-8 z-10">
  <div class="grid grid-cols-3 max-w-7xl mx-auto items-center justify-between">
    <HeaderLink
      checkActive={false}
      href="/"
      href={translatePath("/")}
      class="relative z-10"
      aria-label={i18n.HEADER.LOGO}
    >
      <Logo class="w-12 h-auto" />
    </HeaderLink>
    <nav
      id="header-menu"
      class="fixed w-full h-dvh inset-0 bg-[#151a36]/90 md:text-xl lg:text-xl flex flex-col items-center justify-center gap-8 -translate-y-full transition-transform duration-300 target:translate-y-0 md:static md:h-[initial] md:bg-[initial] md:flex-row md:translate-y-[initial]"
    >
      <HeaderLink class="text__glowing" href={translatePath("/vota/")}>
        {t("nav.vota")}
      </HeaderLink>
      <HeaderLink class="text__glowing" href={translatePath("/info/")}>
        {t("nav.info")}
      </HeaderLink>
      <HeaderLink class="text__glowing" href={translatePath("/archivo/")}>
        {t("nav.archivo")}
      </HeaderLink>

      <a href="#header-nav" class="md:hidden absolute top-6 right-6">
        <CloseIcon />
      </a>
    </nav>
    <a
      href="#"
      class="border border-white py-2 px-4 rounded-full text-center max-w-max justify-self-end text-balance"
    >
      ENTRADA EN LA ISLA ESLAND
    </a>
  </div>
</header>
